# arch
.arch/*
!.arch/Archfile

# clangd
.cache

# Visual Studio Code
.vscode/
!config/editor/.vscode/
!vscode-extension/vscode-arch/.vscode/

# IntelliJ
.idea

# artifacts
build
cmake-build-*

# System Files
.DS_Store

# vscode-extension
*.vsix
